html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    
    @media screen and (max-width: 1023px) {
        padding: 0 18px;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

h1, h2, p {
    margin: 0;
}
.header {
    padding: 32px 0;

    @media screen and (max-width: 767px) {
        padding: 16px 0;
    }
}

.form {
    text-align: center;
    margin-bottom: 72px;
}
@import "./blocks/menu";
@import "./blocks/hero";
@import "./blocks/section";
@import "./blocks/person";
@import "./blocks/experience";
@import "./blocks/js";
@import "./blocks/about";
@import "./components/button";