.about {
    &__title {
        margin-bottom: 20px;
    }
    &-field {
        margin-top: 38px;
        width: 100%;
        display: flex;
        justify-content: center;
    
        &__label {
            left: 20px;
            top: 20px;
            transform: translateY(-50%);
            font-size: 20px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
        }
        &__input  {
            resize: none;
            text-align: left;
        }
    }
}