.experience-fields {
    flex-wrap: wrap;
    justify-content: space-between;
    &__label {
        width: calc(100% / 3);
        padding-left: 32px;
        position: relative;
        margin-bottom: 20px;
        font-size: 16px;
        
        &:hover {
            .experience-fields__checkbox {
                background-color: #e9efff;
            }
        }
    }
    &__input {
        appearance: none;
        &:checked ~ .experience-fields__checkbox {
            background: #435993 url("../img/icons/check.png") no-repeat 50% 50%;
        }
    }
    &__checkbox {
        border: 1px solid #435993;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
    }
}